#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin .25s ease-out;
    background-color: #333;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.list-unstyled a {
    color: #333;
    text-decoration: none;
}

.navbar {
    background-color: #333;
    color: #fff;
}

.list-group-item {
    background-color: #333;
    color: #fff;
    font-size: 18px;
    text-transform: capitalize;
    border-bottom: 1px solid #fff;
    transition: all 0.5s ease-in-out;
}

.list-group-item:hover {
    text-decoration: none;
    background-color: #fff;
    color: #33b5e5;
}

.navbar-nav .nav-link {
    padding: 5px;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    margin-left: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: .5s;
    text-transform: uppercase;
    position: relative;
    transition: all 0.4s ease-in-out;
}

.navbar-nav .nav-link:before {
    position: absolute;
    content: "";
    width: 60%;
    height: 100%;
    top: 0;
    left: 25%;
    border-bottom: 3px solid #fff;
    transform: scaleY(3);
    transition: .5s;
    opacity: 0;
}

.navbar-nav .nav-link:hover:before {
    transform: scaleY(1.1);
    opacity: 1;
}

.navbar-nav .nav-link:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scale(0);
    transition: .5s;
}

.navbar-nav .nav-link:hover:after {
    transform: scale(1);
}


/*        add company               */

.form {
    width: 80%;
    height: auto;
    margin: 20px auto;
}

form {
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}